.rodapie {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding-top: 2rem;
   padding-left: 1rem;
   padding-right: 1rem;

   background-image: linear-gradient(360deg, #ffffff 0, #fffbfd 16.67%, #ffedf1 33.33%, #f9dde2 50%, #ddcdd1 66.67%, #c5bfc1 83.33%, #b1b3b2 100%);
}

.rodapie__titulo {
   display: flex;
   color: #2a2828;

   font-weight: 400;
   font-size: 1.25rem;

   align-items: center;

   padding: 1.56rem;
}

.rodapie__descripcion {
   display: flex;
   font-size: 2rem;
   color: #2a2828;
}

.rodapie__lista{
   display: flex;

}

.rodapie__item {
   list-style: none;
}

.rodapie__icon{
   margin-right: 1.25rem;
}

/* ?RESPONSIVE */

@media screen and (min-width:0) {
   .rodapie {
      flex-wrap: wrap;
      justify-content: space-around;
   }

   .rodapie__descripcion {
      margin: 1rem;
   }

   .rodapie__titulo {
      padding: 0.5rem;
   }

   .rodapie__lista {
      margin: 0;
   }

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
 
}